[Unit]
Description=Rucho Echo Server
After=network.target

[Service]
Type=simple
User=rucho
Group=rucho
PIDFile=/var/run/rucho/rucho.pid
ExecStart=/usr/local/bin/rucho start
ExecStop=/usr/local/bin/rucho stop
Restart=on-failure
RuntimeDirectory=rucho
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
